<ion-content class="ion-padding">
  <h4>
    Hello! 
  </h4> 
  <p>
    Community | Shared Passions | Legacy
    <br><br>
    Your data is 100% yours and is NEVER shared with an external 3rd party. You control which alumni can see the data you provide in the questions ahead. This data controls what match percentage you see between every other college alumni within your network.
    Our business is supported from sponsors who must also be an alumni from your college.
    <br><br>

<!--
    <app-ad *ngIf="ad" [sponsor]="sponsor" [ad]="ad" [preview]="true" ></app-ad>
-->
   
    Your answers can easily be edited anytime and then your match percentages will change automatically! You can also remove your account and all of your data anytime you want, and it is very easy to do so. We want to create a truly trusted online community.
    
    <br><br>
   Get matched to a private community of only your fellow college alumni. Get matched based on your shared passions in life. Get matched with content created on the Bulletin Board, and add your own content to leave a legacy to other college alumni for the future of all time. 
    <br><br>
    Help us make alumni match a safe, positive, and enlightend space to share knowlednge and solve the world's problems. Enjoy and have fun!
    <br><br>
    Communiity | Shared Passions | Legacy
    
  </p>
</ion-content>

<ion-footer appAM class="btn-footer">
  <ion-toolbar>
    <ion-button (click)="continue()" expand="block" class="ion-no-margin" appAM>Get Started!</ion-button>
  </ion-toolbar>
</ion-footer>
